<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zoctan.api.mapper.ConsultationMessageMapper">

    <resultMap id="BaseResultMap" type="com.zoctan.api.entity.ConsultationMessage">
        <id column="id" property="id"/>
        <result column="session_id" property="sessionId"/>
        <result column="sender_id" property="senderId"/>
        <result column="encrypted_content" property="encryptedContent"/>
        <result column="sent_at" property="sentAt"/>
    </resultMap>

    <select id="findBySessionId" resultMap="BaseResultMap">
        SELECT * FROM consultation_message
        WHERE session_id = #{sessionId}
        ORDER BY sent_at ASC
    </select>

    <select id="selectLastEncryptedContentBySessionId" resultType="string">
        SELECT encrypted_content
        FROM consultation_message
        WHERE session_id = #{sessionId}
        ORDER BY created_at DESC
            LIMIT 1
    </select>
</mapper>